:host {
  width: 100%;
  min-height: 100vh;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  margin-bottom: 90px;
  padding: 51px 15px 0 15px;
  @media (min-width: 768px) {
    height: 100vh;
    margin-bottom: 60px;
    padding: 0;
  }
}

section {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-bottom: 90px;
  @media (min-width: 768px) {
    margin-bottom: 275px;
  }
  .projects-preview {
    padding-left: 15px;
    padding-right: 15px;
    transition: all 0.15s ease 0s;

    @media (min-width: 768px) {
      width: 100%;
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(2, 1fr);
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 30px;
    }
  }
}
