<video preload="metadata" [autoplay]="true" [muted]="true" loop alt="v-a reel">
  <source src="../../assets/homepage/v-a_reel_1080p.mp4" type="video/mp4">
  <!-- <track label="English" kind="descriptions" srclang="en" src="resources/myvideo-en.vtt" default>
    <track label="Portuguese" kind="descriptions" srclang="de" src="resources/myvideo-de.vtt">
    <track label="Español" kind="captions" srclang="es" src="resources/myvideo-es.vtt"> -->
</video>
<section>
  <app-va-about></app-va-about>
  <div class="projects-preview">
    <div *ngFor="let project of projectsService.projects$ | async" bnIntersectionObserverA #intersection="intersection"
      [ngSwitch]="intersection.isIntersecting">
      <app-va-project-preview *ngSwitchCase="intersection.IS_INTERSECTING" [projectInfo]="project" routerLink="project">
      </app-va-project-preview>
    </div>
  </div>
</section>
<app-va-footer></app-va-footer>
