<footer>
  <div class="contact">
    <h1>CONTACTS</h1>
    <div class="info">
      <h4>+351 215 678 231</h4>
      <h4>info@v-a.pt</h4>
    </div>

  </div>
  <div class="links-wrapper">
    <a href="https://v-a.studio" target="_blank" class="copyright">© V–A STUDIO 2021</a>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/diego-braga-ponte/" target="_blank">LINKEDIN</a>
      <a href="https://www.instagram.com/studio_v.a/" target="_blank">INSTAGRAM</a>
      <a href="https://www.behance.net/va-studio" target="_blank">BEHANCE</a>
    </div>
  </div>
</footer>
