<div class="menu" [ngClass]="menu.isOpen ? 'is-active' : 'not-active'">
  <div class="va-links" [ngClass]="menu.isOpen ? 'is-active' : 'not-active'">
    <a href="https://www.linkedin.com/in/diego-braga-ponte/" target="_blank">WORK</a>
    <a href="https://www.instagram.com/studio_v.a/" target="_blank">ABOUT</a>
    <a href="https://www.behance.net/va-studio" target="_blank">CONTACT</a>
  </div>

  <div class="social-media" [ngClass]="menu.isOpen ? 'is-active' : 'not-active'">
    <a href="https://www.linkedin.com/in/diego-braga-ponte/" target="_blank">LINKEDIN</a>
    <a href="https://www.instagram.com/studio_v.a/" target="_blank">INSTAGRAM</a>
    <a href="https://www.behance.net/va-studio" target="_blank">BEHANCE</a>
  </div>
</div>
